{
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #EAEFF1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .card {
    width: 320px;
    height: 450px;
    background-color: rgb(157, 1, 1);
    border-radius: 10px;
    padding: 10px;
    font-family: sans-serif;

  }

  .card__img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 10px;
  }

  .card__tit {
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 100;
  }

  .card__text {
    margin-left: 20px;
  }

  .card__title {
    text-align: center
  }

  .card__link {
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    border-radius: 5px;
    padding: 10px 50px;
  }

  .card__image {
    background-color: #fff;
    width: 30px;
    margin-left: 70px;
    margin-bottom: -9px;
    border-radius: 5px;
  }