* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: darkturquoise;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    width: 320px;
    height: 480px;
    background-color: #fff;
    border: 1px solid #acacac;
    border-radius: 5px;
    padding: 10px;
    font-family: sans-serif;
}

.card__image {
    width: 40%;
    border-radius: 60px;
    border: 5px solid red;
    margin-left: 90px;
    margin-bottom: 20px;
}

.card__tit {
    margin-left: 80px;
    color: red;
    font-weight: 100;
    margin-bottom: 10px;
}

.card__title {
    margin-left: 95px;
    font-weight: 100;
    margin-bottom: 30px;
}

.card__text {
    text-align: center;
    word-spacing: 2px;
    margin-bottom: 50px;
}

.card__i {
    width: 20px;
    margin-left: 55px;
}

.card__im {
    width: 20px;
    margin-left: 30px;
}

.card__img {
    width: 21px;
    margin-left: 30px;
}

.card__imge {
    width: 20px;
    margin-left: 30px;
}